{% extends "base.html" %}
{% load static %}

{% block title %}TEST ME{% endblock title%}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'fanfic/css/pure-min.css?v=1.2' %}">
{% endblock stylesheets %}

{% block custom_style %}
.custom-wrapper {
    background-color: #ffd390;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper.open {
    height: 14em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {

    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }

}
{% endblock custom_style %}

{% block site_nav_links %}
  {{ block.super }}
  <a href="https://www.google.com" title="go with google god">GO TO GOOGLE!!</a>
{% endblock site_nav_links %}

{% block content %}
  <h1>{{ head1|title }}</h1>

  {% lorem 2 p %}

  <p>A real test paragraph...</p>

  <ul><li>and here's a random</li>
    <li>fuckin list!</li>
    <li>with no paragraph tags in't</li></ul>

  <ul><li>and here's a list</li>
    <li><p>with paragraphs! in it!!</p></li>
    <li><p>annnnd multi!</p>
      <p>paragraphs!! baby!</p></li>
    <li>one more list item just cos</li>
  </ul>

  <h2>{{ head2|title }}</h2>

  {% lorem 2 p random %}

  <h3>{{ head3|title }}</h3>

  {% lorem 2 p random %}

  <h4>{{ head4|title }}</h4>

  {% lorem 2 p random %}

  <h5>{{ head5|title }}</h5>

  {% lorem 2 p random %}

  <h6>{{ head6|title }}</h6>

  {% lorem 2 p random %}
{% endblock content %}
