{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% block title %}BASE HELL
      {% endblock title %}

    </title>

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'fanfic/css/normalize.css?v=1' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fanfic/css/base.css?v=1.2' %}">
    {% endblock stylesheets %}

    {% block favicons %}
    <link rel="shortcut icon" type="image/png" href="{% static 'fanfic/img/favicon.ico' %}"/>
    <link rel="icon" type="image/png" href="{% static 'fanfic/img/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'fanfic/img/favicon-16x16.png' %}" sizes="16x16" />
    {% endblock favicons %}

    <style>
    {% block custom_style %}
    /* custom styles here */
    {% endblock custom_style %}
    </style>

  </head>
  
  <body>

  <header class="pure-g">
    <div class="pure-u-1"><h1><a class="" href="{% url 'fanfic:index' %}">Fan Archive</a></h1></div>

    {% block userlinks %}
    <div id="userlinks" class="u-pull-right">
      <p>
      {% if user.is_authenticated %}
      Hi, {{ user.name }}! 
      <a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
      <a class="" href="{% url 'users:logout' %}">Log out?</a>
      {% else %}
      <a class="" href="{% url 'users:signup' %}">Sign Up</a>
      <a class="" href="{% url 'users:login' %}">Log In</a>
      {% endif %}
    </p>
    </div>
    {% endblock userlinks %}

    
  </header>

    <nav id="site_nav" class="row">
      {% block site_nav_links %}
      <a class="" href="{% url 'fanfic:test' %}">Test page</a>
      <a class="" href="{% url 'fanfic:panel' %}">Admin panel</a>
      <a class="" href="https://google.com">Gogol</a>
      {% endblock site_nav_links %}
    </nav>

    <main id="content">
        <h1>{{ head1|title }}</h1>

  {% lorem 2 p %}

  <p>A real test paragraph...</p>

  <ul><li>and here's a random</li>
    <li>fuckin list!</li>
    <li>with no paragraph tags in't</li></ul>

  <ul><li>and here's a list</li>
    <li><p>with paragraphs! in it!!</p></li>
    <li><p>annnnd multi!</p>
      <p>paragraphs!! baby!</p></li>
    <li>one more list item just cos</li>
  </ul>

  <h2>{{ head2|title }}</h2>

  {% lorem 2 p random %}

  <h3>{{ head3|title }}</h3>

  {% lorem 2 p random %}

  <h4>{{ head4|title }}</h4>

  {% lorem 2 p random %}

  <h5>{{ head5|title }}</h5>

  {% lorem 2 p random %}

  <h6>{{ head6|title }}</h6>

  {% lorem 2 p random %}
    </main>
  </div>

  </body>
</html>