{% extends "base.html" %}
{% load static %}

{% block title %}TEST ME{% endblock title%}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'fanfic/css/pure-min.css?v=1.2' %}">
{% endblock stylesheets %}

{% block custom_style %}

{% endblock custom_style %}

{% block site_nav_links %}
  {{ block.super }}
  <a href="https://www.google.com" title="go with google god">GO TO GOOGLE!!</a>
{% endblock site_nav_links %}

{% block content %}
  <h1>{{ head1|title }}</h1>

  {% lorem 2 p %}

  <p>A real test paragraph...</p>

  <ul><li>and here's a random</li>
    <li>fuckin list!</li>
    <li>with no paragraph tags in't</li></ul>

  <ul><li>and here's a list</li>
    <li><p>with paragraphs! in it!!</p></li>
    <li><p>annnnd multi!</p>
      <p>paragraphs!! baby!</p></li>
    <li>one more list item just cos</li>
  </ul>

  <h2>{{ head2|title }}</h2>

  {% lorem 2 p random %}

  <h3>{{ head3|title }}</h3>

  {% lorem 2 p random %}

  <h4>{{ head4|title }}</h4>

  {% lorem 2 p random %}

  <h5>{{ head5|title }}</h5>

  {% lorem 2 p random %}

  <h6>{{ head6|title }}</h6>

  {% lorem 2 p random %}
{% endblock content %}
