/*
* Base stylesheet
*
*/

/* Includes:
--------------------------------------------------
- basic grid styles
- typography
*/


/* Grid 
-------------------------------------------------- */

.grid-box {
  position: relative;
  display: grid;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em;
  box-sizing: border-box;
}

.flex-box {
  display: flex;
}


/* Typography 
-------------------------------------------------- */

body {
  font-size: 1em;
  line-height: 1.5em;
  font-family: Georgia, serif;
  color: #333;
}

