{% extends "base.html" %}
{% load static %}

{% block title %}Admin Panel{% endblock title%}

{% block site_nav_links %}
  {{ block.super }}
  
{% endblock site_nav_links %}

{% block content %}
<h2>Admin panel</h2>

{% if user.is_authenticated %}
<p>Hi, {{ user.name }}!</p>

<p>Here, you can:</p>
<ul>
  <li><a class="" href="{% url 'users:password_change' %}">Change your password</a></li>
  <li><a class="" href="{% url 'fanfic:newfic' %}">Add a new fic</a></li>
</ul>
{% else %}
<p>You need to <a class="" href="{% url 'users:login' %}">log in</a> to access the admin panel.</p>
{% endif %}
{% endblock content %}