{% extends "base.html" %}
{% load static %}

{% block title %}Admin Panel{% endblock title%}

{% block site_nav_links %}
  <a class="" href="{% url 'fanfic:panel' %}">Admin Home</a>
{% endblock site_nav_links %}

{% block masthead %}
  {{ block.super }} : admin
{% endblock masthead %}

{% block mainclass %}
admin
{% endblock mainclass %}

{% block content %}
<h2>Admin panel</h2>
<div class="row">

  {% if user.is_authenticated %}
  <div class="three columns" style="border: 1px dotted grey;">
    <p>Hi, {{ user.name }}!</p>
  </div>

  <div class="nine columns quicklinks" style="border: 1px dotted red;">
    <ul class="">
      <li><a class="" href="{% url 'users:password_change' %}">Change password</a></li>
      <li><a>Edit pseuds</a></li>
      <li><a>Edit fics</a></li>
    </ul>
  </div>

  <p>Here, you can:</p>
  <ul>
    <li><a class="" href="{% url 'users:password_change' %}">Change your password</a></li>
    <li><a class="" href="{% url 'fanfic:newfic' %}">Add a new fic</a></li>
  </ul>
  {% else %}
  <p>You need to <a class="" href="{% url 'users:login' %}">log in</a> to access the admin panel.</p>
  {% endif %}

</div>
{% endblock content %}