{% extends "base.html" %}
{% load static %}

{% block title %}HELL WELCOMES U{% endblock title%}

{% block content %}
  <h2>Latest fic list</h2>
  {% if latest_fic_list %}
  <section class="latest_fic_list">
    {% for fic in latest_fic_list %}
    <article class="fic latest_fic_list">
      <h3><a href="{% url 'fanarchive:detail' fic.id %}">{{ fic.fic_title }}</a></h3>
      <p>{{ fic.fic_summary }}</p>
      <div class="latest_fic_list meta">
        <p>posted {{ fic.pub_date|date }}</p>
      </div>
    </article>
    {% endfor %}
  </section>
  {% else %}
  <p>No fics are available <strong>:sadface:</strong>.</p>
  {% endif %}

  <p>My hero:</p>
  
  <p><img src="{% static 'fanarchive/img/hero.jpg' %}" alt='image of THE HERO'/></p>

  <p>Go to the <a href="{% url 'fanarchive:test' %}">TEST PAGE</a>!!</p>

{% endblock content %}