<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>{{ fic.fic_title }}</title>
    <meta name="viewport" content="width=device-width, initial scale=1">

  </head>
  
  <body>
    
  <div class="container">

    <main>
      <!-- but no titlecase here -->
      <h1>{{ fic.fic_title }}</h1>
      
      <p><strong>Fic summary:</strong> {{ fic.fic_summary }}</p>

      <p><strong>Fic created on:</strong> {{ fic.date_created }}</p>

      <!-- if the Fic has any FicParts -->
      {% if fic.ficpart_set.count > 0 %}
      
      <!-- list them -->
      {% for ficpart in fic.ficpart_set.all %}
      <article><h3>Part {{ loop.index }}: {{ ficpart.fic_part_title }}</h3>
        <p>{{ ficpart.fic_part_text }}</p>
      </article>
      {% endfor %}
      
      <!-- else, give the user a sad message -->
      {% else %}
      <p>I'm sorry, <strong>{{ fic.fic_title }}</strong> has no fic parts available.</p>
      {% endif %}

    </main>

  </div>

  </body>
</html>