{% extends "base.html" %}
{% load static %}

{% block title %}{{ fic.fic_title|title }} | Fanarchive{% endblock title%}

{% block content %}
      <!-- but no titlecase here -->
  <div class="fic_meta">
    <h2>{{ fic.fic_title }}</h2>
    <ul>
      <li><strong>Fic summary:</strong> {{ fic.fic_summary }}</li>
      <li><strong>Fic created on:</strong> {{ fic.pub_date }}</li>
    </ul>
  </div>

  <!-- if the Fic has any FicParts -->
  {% if fic.ficpart_set.count > 0 %}
  
  <!-- list them -->
  {% for ficpart in fic.ficpart_set.all %}
  <hr>
  <article class="fic_part">
    <h3>Part {{ forloop.counter }}: {{ ficpart.fic_part_title }}</h3>
    <p>{{ ficpart.fic_part_text }}</p>
  </article>
  {% endfor %}
  
  <!-- else, give the user a sad message -->
  {% else %}
  <p class="fic_part warning">I'm sorry, <strong>{{ fic.fic_title }}</strong> has no fic parts available.</p>
  {% endif %}

  <hr>
{% endblock content %}