<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <!-- titlecase for the page title just cuz -->
    <title>{{ work.work_title|title }}</title>
    <meta name="viewport" content="width=device-width, initial scale=1">

  </head>
  
  <body>
    
  <div class="container">

    <main>
      <!-- but no titlecase here -->
      <h1>{{ work.work_title }}</h1>
      
      <p><strong>Work summary:</strong> {{ work.work_summary }}</p>

      <p><strong>Work created on:</strong> {{ work.date_created }}</p>

      <!-- if the Work has any WorkParts -->
      {% if work.workpart_set.count() > 0 %}
      
      <!-- list them -->
      {% for workpart in work.workpart_set.all() %}
      <article><h3>Part {{ loop.index }}: {{ workpart.work_part_title }}</h3>
        <p>{{ workpart.work_part_text }}</p>
      </article>
      {% endfor %}
      
      <!-- else, give the user a sad message -->
      {% else %}
      <p>I'm sorry, <strong>{{ work.work_title }}</strong> has no work parts available.</p>
      {% endif %}

    </main>

  </div>

  </body>
</html>