<!DOCTYPE html>
{% load static %} <!-- (load static files) -->
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>HELL</title>
    <meta name="viewport" content="width=device-width, initial scale=1">

  </head>
  
  <body>
    
  <div class="container">

    <main>
      <p>Welcome to the FAN ARCHIVE.</p>

      {% if latest_fic_list %}
      <ul>
        {% for fic in latest_fic_list %}
        <li><a href="{% url 'fanarchive:detail' fic.id %}">{{ fic.fic_title }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No fics are available <strong>:sadface:</strong>.</p>
      {% endif %}

      <p>My hero:</p>

      <p><img src="{% static 'img/hero.jpg' alt='image of THE HERO' %}"/></p>


    </main>

  </div>

  </body>
</html>