{% extends "base.html" %}
{% load static %}

{% block title %}HELL WELCOMES U{% endblock title%}

{% block content %}
  <h2>Latest fic list</h3>
  {% if latest_fic_list %}
  <ul>
    {% for fic in latest_fic_list %}
    <li><p><a href="{% url 'fanarchive:detail' fic.id %}">{{ fic.fic_title }}</a></p>
    <p>Posted on {{ fic.pub_date|date }}</p>
        <p>{{ fic.fic_summary }}</p></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No fics are available <strong>:sadface:</strong>.</p>
  {% endif %}

  <p>My hero:</p>
  
  <p><img src="{% static 'fanarchive/img/hero.jpg' %}" alt='image of THE HERO'/></p>

  <p>Go to the <a href="{% url 'fanarchive:test' %}">TEST PAGE</a>!!</p>

{% endblock content %}