{% extends "fanarchive/base.html" %}
{% load static %}

{% block title %}TEST ME{% endblock title%}

{% block site_nav_links %}
  {{ block.super }}
  <a href="https://www.google.com" title="go with google god">GO TO GOOGLE!!</a>
{% endblock site_nav_links %}

{% block content %}
  <h1>{{ head1|title }}</h1>

  <p>{% lorem 2 p %}</p>

  <h2>{{ head2|title }}</h2>

  <p>{% lorem 2 p random %}</p>

  <h3>{{ head3|title }}</h3>

  <p>{% lorem 2 p random %}</p>

  <h4>{{ head4|title }}</h4>

  <p>{% lorem 2 p random %}</p>

  <h5>{{ head5|title }}</h5>

  <p>{% lorem 2 p random %}</p>

  <h6>{{ head6|title }}</h6>

  <p>{% lorem 2 p random %}</p>
{% endblock content %}
