<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>Test page!!</title>
    <meta name="viewport" content="width=device-width, initial scale=1">

  </head>
  
  <body>
    
  <div class="container">

    <main>
      <h1>{{ head1|title }}</h1>

      <p>{% lorem 2 p %}</p>

      <h2>{{ head2|title }}</h2>

      <p>{% lorem 2 p random %}</p>

      <h3>{{ head3|title }}</h3>

      <p>{% lorem 2 p random %}</p>

      <h4>{{ head4|title }}</h4>

      <p>{% lorem 2 p random %}</p>

      <h5>{{ head5|title }}</h5>

      <p>{% lorem 2 p random %}</p>

      <h6>{{ head6|title }}</h6>

      <p>{% lorem 2 p random %}</p>


    </main>

  </div>

  </body>
</html>