{# simple base html file #}
{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% block title %}BASE HELL
      {% endblock title %}

    </title>

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'fanfic/css/normalize.css?v=1' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fanfic/css/skeleton.css?v=1.2' %}">
    {% endblock stylesheets %}

    {% block favicons %}
    <link rel="shortcut icon" type="image/png" href="{% static 'fanfic/img/favicon.ico' %}"/>
    <link rel="icon" type="image/png" href="{% static 'fanfic/img/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'fanfic/img/favicon-16x16.png' %}" sizes="16x16" />
    {% endblock favicons %}
  </head>
  
  <body>
    
  <div class="container">

    <header id="site_title">
      {% block sitetitle %}
      <h1>Fan Archive</h1>
      {% endblock sitetitle %}

      <nav id="site_nav">
        {% block site_nav_links %}
        <a class="" href="{% url 'fanfic:index' %}">Home</a>
        <a class="" href="{% url 'fanfic:test' %}">Test page</a>
        <a class="" href="{% url 'fanfic:panel' %}">Admin panel</a>
        {% if user.is_authenticated %}
        <a class="" href="{% url 'users:logout' %}">Log out?</a>
        {% else %}
        <a class="" href="{% url 'users:signup' %}">Sign Up</a>
        <a class="" href="{% url 'users:login' %}">Log In</a>
        {% endif %}
        {% endblock site_nav_links %}
      </nav>
    </header>

    <main>
      {% block content %}
      <h2>Welcome!!</h2>

      <p>Welcome to the FAN ARCHIVE MACHINE BASE TEMPLATE YO.</p>
      {% endblock content %}
    </main>
  </div>

  </body>
</html>