{# simple base html file #}
{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% block title %}BASE HELL
      {% endblock title %}

    </title>

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'fanfic/css/normalize.css?v=1' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fanfic/css/skeleton.css?v=1.2' %}">
    {% endblock stylesheets %}

    {% block favicons %}
    <link rel="shortcut icon" type="image/png" href="{% static 'fanfic/img/favicon.ico' %}"/>
    <link rel="icon" type="image/png" href="{% static 'fanfic/img/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'fanfic/img/favicon-16x16.png' %}" sizes="16x16" />
    {% endblock favicons %}

    <style>
    {% block custom_style %}
    /* custom styles here */
    {% endblock custom_style %}
    </style>

  </head>
  
  <body>
    
  <div class="container">

    <header class="row">
      <div id="masthead" class="nine columns"><h1><a class="" href="{% url 'fanfic:index' %}">Fan Archive</a></h1></div>

      {% block userlinks %}
      <div id="userlinks" class="u-pull-right">
        <p>
        {% if user.is_authenticated %}
        Hi, {{ user.name }}! 
        <a class="" href="{% url 'users:logout' %}">Log out?</a>
        {% else %}
        <a class="" href="{% url 'users:signup' %}">Sign Up</a>
        <a class="" href="{% url 'users:login' %}">Log In</a>
        {% endif %}
      </p>
      </div>
      {% endblock userlinks %}

      
    </header>

    <nav id="site_nav" class="row">
      {% block site_nav_links %}
      <a class="" href="{% url 'fanfic:test' %}">Test page</a>
      <a class="" href="{% url 'fanfic:panel' %}">Admin panel</a>
      
      {% endblock site_nav_links %}
    </nav>

    <main id="content">
      {% block content %}
      <h2>Welcome!!</h2>

      <p>Welcome to the FAN ARCHIVE MACHINE BASE TEMPLATE YO.</p>
      {% endblock content %}
    </main>
  </div>

  </body>
</html>