<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>{{ hello_title }}</title>
    <meta name="viewport" content="width=device-width, initial scale=1">

  </head>
  
  <body>
    
  <div class="container">

    <main>
      <p>Welcome to the FAN ARCHIVE.</p>
      {% if latest_work_list %}
      <ul>
        {% for work in latest_work_list %}
        <li><a href="{{ url('fanarchive:detail', work.id) }}">{{ work.work_title }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No works are available <strong>:sadface:</strong>.</p>
      {% endif %}


    </main>

  </div>

  </body>
</html>